<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<div>
  <%= render @work.tasks %>
  <div>
    <%= render "tasks/form" %>
  </div>
</div>

<%= link_to 'Edit', edit_work_path(@work), class: "ui inverted yellow button" %> |
<%= link_to 'Back', works_path, class: "ui inverted orange button" %>
